table, th, td{
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

th{
    background-color: #04AA6D;
  color: white;
}
